
# VS
.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

Makefile

# VSCode
.vscode

# VSCode
bin
bin-int

*log

# TestSuites
TestSuite_FMT.json
TestSuite_LITTLE_ECS.json
ADD_MANY_COMPONENT.json
ADD_MANY_COMPONENT_1M.json
ADD_MANY_COMPONENT_10K.json
ADD_MANY_COMPONENT_100K.json
ADD_MANY_COMPONENT_100M.json
